<ion-header>
  <ion-toolbar>
    <ion-title>Chci vidět</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [value]="viewType" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="movie">
        <ion-label>Filmy</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tv">
        <ion-label>Seriály</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="movie-grid">
    <ion-row>
      @for (movie of getFilteredMovies(); track movie.id) {
        <ion-col size="6" size-md="4" size-lg="3">
          <div class="movie-poster-card">

            @if (movie.obrazek) {
              <img [src]="movie.obrazek" [alt]="movie.nazev" />
            }

            <div class="remove-badge" (click)="removeFromWant(movie.id)">
              ✕
            </div>

            <div class="poster-info">
              <p>{{ movie.nazev }}</p>
            </div>

          </div>
        </ion-col>
      } @empty {
        <ion-col size="12" class="ion-text-center ion-padding">
          <p class="empty-text">
            Žádné uložené {{ viewType === 'movie' ? 'filmy' : 'seriály' }}.
          </p>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
