<ion-header>
  <ion-toolbar>
    <ion-title>Oblíbené</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [value]="viewType" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="movie">
        <ion-label>Filmy</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tv">
        <ion-label>Seriály</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  @if (filteredFavorites.length === 0) {
    <p style="text-align:center; margin-top:20px;">
      Nemáš žádné oblíbené {{ viewType === 'movie' ? 'filmy' : 'seriály' }}.
    </p>
  }

  @for (movie of filteredFavorites; track movie.id) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ movie.nazev }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>

        @if (movie.obrazek) {
          <img [src]="movie.obrazek" [alt]="movie.nazev" />
        }

        <ion-button expand="block" color="danger" (click)="removeFavorite(movie)">
          Odebrat z oblíbených
        </ion-button>

      </ion-card-content>
    </ion-card>
  }

</ion-content>
